* {padding: 0; margin: 0; }
body{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;

  div {
    .content_user-name{
      margin-top: 25px;
      margin-left: 10%;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      color: #1A1A1A;
    }

    .content__table{
      width: 90%;
      margin: auto;
      overflow-x:auto;
    
      table{
        height: 48px;
        margin-left: 5%;
        margin-top: 25px;
        font-size: 16px;
        line-height: 20px;
        border-collapse: collapse;
        border-spacing: 0;
        width: 90%;
  
        .content__table_header{
          height: 50px;
          background: #3A80BA;
          color: #FFFFFF;
          text-align: center; 
          .content__table_header_no-even{
            border-collapse:separate;
            border-top-left-radius: 10px;
          }
          .content__table_header_even{
            border-collapse:separate;
            border-top-right-radius: 10px;
          }
        }
      }
    }
    
    .content__pagination{
      overflow-x:auto;
      .content_pagination_elem{
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 10%;
    
        border-collapse: collapse;
        border-spacing: 0;
        width: 90%;
      }
    }
  }
}