* {padding: 0; margin: 0; }
body{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;

  div {

    .content__table{
      width: 90%;
      margin: auto;
      overflow-x:auto;
    
      table{
        height: 48px;
        margin-left: 5%;
        margin-top: 25px;
        font-size: 16px;
        line-height: 20px;
        border-collapse: collapse;
        border-spacing: 0;
        width: 90%;
        text-align: center;
        overflow-x:auto;

        td{
          padding: 5px 5px 5px 5px;
        }
  
        .content__table_header{
          height: 50px;
          background: #3A80BA;
          color: #FFFFFF; 
          .content__table_header_no-even{
            border-collapse:separate;
            border-top-left-radius: 10px;
          }
          .content__table_header_even{
            border-collapse:separate;
            border-top-right-radius: 10px;
          }
        }
        

        .content__table_rows{
          cursor: pointer;
        }

        .content__table_rows:hover {color: #0078BF}
      }
    }
    
    .content__pagination{
      overflow-x:auto;
      margin-top: 25px;
      .content_pagination_elem{
        margin-bottom: 25px;
        margin-left: 10%;
    
        border-collapse: collapse;
        border-spacing: 0;
        width: 90%;
      }
    }
  }
}