
body{
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  div {
    margin: 0;
    background: #FFFFFF;

    .header {
      width: 100%;
      height: 655px;
      left: 0px;
      top: 72px;
      background: url('./static/img/fon.png');

      color: #FFFFFF;
      .header_text {
        margin: 0;
        width: 586px;
        height: 118px;
        left: 130px;
        top: 49px;


        font-size: 48px;
        line-height: 59px;
          span {
            font-weight: bold;
          }
      }

      .textToHeaderCitat{
        margin: 0;
        width: 580px;
        height: 56px;
        left: 130px;
        top: 198px;

        font-size: 20px;
        line-height: 142%;
      }

      .buttonToHeader{
        margin: 0;
        width: 154px;
        height: 56px;
        left: 130px;
        top: 279px;

        background: #FFFFFF;
        border-radius: 8px;
        .textForButton{

          
          font-size: 16px;
          line-height: 142%;

          text-align: center;

          color: #3A80BA;
        }
      }

      .iphone{
        position: absolute;
        left: 64.71%;
        right: 16.1%;
        top: 2.49%;
        bottom: 78.17%;

      }
    }
    .text{
      width: 100%;
      right: 0;
      .text_area1{
        margin: auto;
        width: 100%;
        height: 78px;
        top: 671px;
  
        font-size: 32px;
        line-height: 39px;
        text-align: center;
  
        color: #1A1A1A;
      }
  
      .text_area2{
        margin: auto;
        width: 100%;
        height: 56px;
        top: 773px;
  
        font-size: 20px;
        line-height: 142%;
  
        text-align: center;
  
        color: #7E7E7E;
      }
    }
    

    .imgBox{
      width: 106px;
      height: 96px; 
      left: 137px;
      top: 48px;
    }

    .cardName{
      width: 190px;
      height: 29px;
      left: 100px;
      top: 190px;

      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      text-align: center;

      color: #1A1A1A;
    }

    .cardText{
      width: 316px;
      height: 46px;
      left: 35px;
      top: 220px;

      font-size: 16px;
      line-height: 142%;

      text-align: center;

      color: #7E7E7E;
    }

    .container {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(2, 100px);
        
        .box{
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
          border-radius: 32px;
    
          width: 383px;
          height: 323px;
        }
      }
    
    }

  .block2a{
    top: 40px;
    height: 100px;
    background: #FFFFFF;
  }

  .block2{
    width: 100%;
    height: 393px;
    left: 0px;
    top: 1273px;
    background: linear-gradient(93.19deg, #255D8B 2.29%, #3A80BA 96.79%);
    margin-top: 47px;
    color: #FFFFFF;
    .block2_text1{
      margin: 0px;
      width: 580px;
      height: 78px;
      left: 130px;
      top: 80px;

      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
    }
    .block2_text2{
      width: 580px;
      height: 69px;
      left: 130px;
      top: 170px;
      margin: 0px;

      font-size: 16px;
      line-height: 142%;
      
    }
    .block2_button{
      width: 221px;
      height: 56px;
      left: 130px;
      top: 260px;

      background: #FFFFFF;
      border-radius: 8px;
      span{
        font-size: 16px;
        line-height: 142%;
        /* identical to box height, or 23px */

        text-align: center;

        color: #255D8C;
      }
    }
    .macBook{
      left: 48.94%;
      right: 14.63%;
      top: -34px;
      bottom: 43.1%;

    }
  }

  .block3{
    margin: 0px;
    padding: 0px;

    .block3_text1{
      width: 580px;
      height: 78px;
      left: 430px;
      top: 1782px;

      font-size: 32px;
      line-height: 39px;

      color: #1A1A1A;
    }
    .block3_text2{
      width: 664px;
      height: 56px;
      left: 388px;
      top: 1884px;

      font-weight: normal;
      font-size: 20px;
      line-height: 142%;
      color: #7E7E7E;
    }

    .wawe2{
      width: 500px;
      height: 513px;
      right: 0px;
      top: 1800px;
    }
    

    .blockPanel{
      p{
        margin-top: 40px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
      }

      hr{
        width: 250px;
        height: 0px;
        margin-bottom: 20px;
      }

      img{
        display:block;
        margin:auto;
      }

      .text{
        margin: auto;
        width: 222px;
        height: 182px;
        text-align: center;

        font-size: 16px;
        line-height: 162%;



        color: #7E7E7E;
      }

      button{
        width: 220px;
        height: 56px;
        background: #3A80BA;
        border-radius: 8px;
        font-size: 16px;
        line-height: 142%;
        /* identical to box height, or 23px */

        text-align: center;

        color: #FFFFFF;
      }

      .price{
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        /* identical to box height */

        text-align: center;

        color: #1A1A1A;
      }

      .block_1{
        width: 380px;
        height: 627px;
        left: 130px;
        top: 1972px;
  
        border: 2px solid #F1F1F1;
        box-sizing: border-box;
        border-radius: 32px;
      }
  
      .block_2{
        width: 380px;
        height: 627px;
        left: 530px;
        top: 1972px;
  
        border: 2px solid #F1F1F1;
        box-sizing: border-box;
        border-radius: 32px;
        .price{
          color: #3A80BA;
        }
      }
  
      .block_3{
        width: 380px;
        height: 627px;
        left: 930px;
        top: 1972px;
  
        border: 2px solid #F1F1F1;
        box-sizing: border-box;
        border-radius: 32px;
      }
    }
  }

  .formContact{
    position: absolute;
    width: 664px;
    height: 28px;
    left: 388px;
    top: 2631px;

    font-size: 20px;
    line-height: 142%;
    /* or 28px */

    text-align: center;
    color: #7E7E7E;
    b{
      color: #3A80BA;
    }
  }

  form {
    margin: 0 auto;
    position: absolute;
    width: 579px;
    height: 64px;
    left: 431px;
    top: 2733px;
  }
  input, button {
    border: none;
    outline: none;
    border-radius: 3px;
  }
  input {
    width: 100%;
    height: 68px;
    padding-left: 15px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 10px;

    font-size: 16px;
    line-height: 162%;
    /* identical to box height, or 26px */

    display: flex;
    align-items: center;

    color: #B9B9B9;
  }
  .buttonForm {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 176px;
    height: 56px;

    background: #3A80BA;
    border-radius: 8px;
    cursor: pointer;

    font-size: 16px;
    line-height: 142%;
    /* identical to box height, or 23px */

    text-align: center;

    color: #FFFFFF;
  }

  .wawe3{
    position: absolute;
    width: 100%;
    height: 183.46px;
    left: 0px;
    top: 2710.46px;

  }

  .footerText1{
    width: 109px;
    height: 39px;
    left: 130px;
    top: 2821px;

    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;
  }

  .footerText2{
    width: 264px;
    height: 23px;
    left: 588px;
    top: 2829px;
    
    font-size: 16px;
    line-height: 142%;
    /* identical to box height, or 23px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .footerText3{
    width: 147px;
    height: 23px;
    left: 1163px;
    top: 2829px;
    
    font-size: 16px;
    line-height: 142%;
    /* identical to box height, or 23px */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .table_row_data{
    text-align: center;

    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #1A1A1A;
  }

  .header_statistic_user_name{
    margin-top: 25px;
    margin-left: 10%;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #1A1A1A;
  }

  .header_statistic_before{
    margin-left: 40px;
  }

  .header_statistic_click{
    margin-top: 25px;
    margin-left: 10%;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #1A1A1A;
  }

  .table{
    width: 90%;
    margin: auto;
    overflow-x:auto;

    table{
      height: 48px;
      margin-left: 5%;
      margin-top: 25px;
      font-size: 16px;
      line-height: 20px;
      border-collapse: collapse;
      border-spacing: 0;
      width: 90%;

      .table_header{
        height: 50px;
        background: #3A80BA;
        color: #FFFFFF;
        text-align: center; 
        .cell1{
          border-collapse:separate;
          border-top-left-radius: 10px;
        }
        .cell2{
          border-collapse:separate;
          border-top-right-radius: 10px;
        }
      }
    }
  }

  .pagination{
    overflow-x:auto;
    .pagination_elem{
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 10%;

      border-collapse: collapse;
      border-spacing: 0;
      width: 90%;
    }
  }

  .footer{
    width: 100%;
    height: 57px;
    margin-top: 25px;

    background: #1C3B55;
    font-size: 16px;
    line-height: 142%;
    display:table;

    color: #FFFFFF;
    .footer_company{
      text-align: center;
      width: 33.33333333333%;
      display:table-cell!important;
      vertical-align:middle;
      font-size: 24px;
      line-height: 29px;
    }
    span{
      width: 33.33333333333%;
      text-align: center;
      display:table-cell!important;
      vertical-align:middle;
    }
  }

  .text_company {
    width: 100%;
    height: 72px;

    
    background: #3A80BA;
    span{
      position: absolute;
      height: 49px;
      padding-left: 130px;
      top: 12px;

      font-size: 40px;
      line-height: 49px;
      /* identical to box height */


      color: #FFFFFF;
    }
  }
}


