* {padding: 0; margin: 0; }
body{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;

  .text_company {
    width: 100%;
    height: 72px;

    background: linear-gradient(92.09deg, #255D8B 2.29%, #3A80BA 96.79%);
    span{
      height: 49px;
      padding-left: 9.5%;

      font-size: 40px;
      line-height: 65px;
      color: #FFFFFF;
    }
  }

  div {
    .header {
      height: 655px;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(100px, auto);
      background: url('./static/img/fon.png');
    }
    
    .header-text{
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-auto-columns: minmax(80px, auto);
      padding-left: 14%;
      color: #FFFFFF;

      .header-text-title{
        font-size: 24px;
        line-height: 29px;

        span {
          font-weight: bold;
        }
      }
      .header-text-citat{
        font-size: 16px;
        line-height: 142%;
      }
      .header-text-button{
        width: 154px;
        height: 56px;
        margin-top: 15px;

        background: #FFFFFF;
        border-radius: 8px;

        font-size: 16px;
        line-height: 142%;
        text-align: center;
        color: #3A80BA;
      }
    }

    .iphone{
      margin: auto;
      display: flex;
      flex-direction: column;
      width: auto;
    }

    .text{
      display: grid;
      grid-template-rows: 1fr;
      margin-top: 250px;
      width: 100%;
      .text_area1{
        margin: auto;
  
        font-size: 20px;
        line-height: 142%;
        text-align: center;
        color: #1A1A1A;
      }
  
      .text_area2{
        margin: auto;
        width: 100%;
  
        font-size: 14px;
        line-height: 142%;
        text-align: center;
        color: #7E7E7E;
      }
    }

  .box-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    .box{
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
      border-radius: 32px;
    
      width: 80%;
      height: auto;
      margin: auto;
      margin-top: 20px;
      text-align: center;
      
      .img-box{
        padding-top: 25px;
      }
  
      .card-name{
        width: auto;
        height: auto;
        padding-top: 10px;
  
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;

        color: #1A1A1A;
      }
  
      .card-text{
        padding: 10px;
        font-size: 16px;
        line-height: 142%;
  
        color: #7E7E7E;
      }
    }
  }

  .block2{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: maimax(100px, auto);
    background: linear-gradient(93.19deg, #255D8B 2.29%, #3A80BA 96.79%);
    margin-top: 60px;
    color: #FFFFFF;
    .block2_text1{
      padding-left: 10%;
      padding-top: 20px;

      font-weight: bold;
      font-size: 24px;
      line-height: 142%;
    }
    .block2_text2{
      padding-left: 10%;
      padding-top: 10px;
      font-size: 16px;
      line-height: 142%;
      
    }
    .block2_button{
      width: 220px;
      height: 56px;
      margin-left: 10%;
      margin-top: 10px;

      background: #FFFFFF;
      border-radius: 8px;
      font-size: 16px;
      line-height: 142%;
      text-align: center;

      color: #255D8C;

    }
    .macBook{
      width: 60%;
      padding-left: 20%;
      padding-top: 30px;
    }
  }

  .block3{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
    background: url('./static/img/Rectangle 51.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;

    .block3_text{
      display: grid;
      grid-template-columns: 1fr;
      .block3_text1{   
        text-align: center;
        font-size: 32px;
        line-height: 39px;
  
        color: #1A1A1A;
      }
      .block3_text2{
        text-align: center;
        font-weight: normal;
        font-size: 20px;
        line-height: 142%;
        color: #7E7E7E;
      }
    }

    .block-panel{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-auto-rows: minmax(100px, auto);
      .block{
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
        border-radius: 32px;
      
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        background: #ffffff;
        p{
          margin-top: 40px;
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
        }
  
        hr{
          margin-left: 26%;
          width: 45%;
          height: 0px;
          margin-bottom: 20px;
          position: center;
        }
  
        img{
          display:block;
          margin:auto;
        }
    
        .text{
          margin: auto;
          width: 222px;
          height: 182px;
    
          font-size: 16px;
          line-height: 162%;
          color: #7E7E7E;
        }
    
        button{
          width: 220px;
          height: 56px;
          background: #3A80BA;
          border-radius: 8px;
          font-size: 16px;
          line-height: 142%;
          color: #FFFFFF;
          margin-bottom: 35px;
        }
    
        .price{
          margin-top: 20px;
          margin-bottom: 20px;
          font-weight: bold;
          font-size: 48px;
          line-height: 59px;
          color: #1A1A1A;
        }
        .price-blue{
          color: #3A80BA;
        }
      }
    }
  }

  .wawe3{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(80px, auto);
    margin-top: 25px;
    background: url('./static/img/Rectangle 54.png');
    background-position: bottom;
    background-size: cover;
    text-align: center;
    .formContact{
      width: 100%;
      font-size: 20px;
      line-height: 142%;
      margin-bottom: 50px;
  
      text-align: center;
      color: #7E7E7E;
      b{
        color: #3A80BA;
      }
    }

    form{
      margin-top: 35px;
      width: 579px;
      height: 64px;
      margin: auto;
      input, button {
        border: none;
        outline: none;
        border-radius: 3px;
      }
      input {
        width: 350px;
        height: 68px;
        margin: auto;
        padding-left: 15px;
        background: #FFFFFF;
        border: 1px solid #F1F1F1;
        box-sizing: border-box;
        border-radius: 10px;
    
        font-size: 16px;
        line-height: 162%;
      
        align-items: center;
    
        color: #B9B9B9;
      }
      button{
        width: 176px;
        height: 56px;
      
        background: #3A80BA;
        border-radius: 8px;
        cursor: pointer;
      
        font-size: 16px;
        line-height: 142%;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }

  .footer-main{   
    font-size: 24px;
    line-height: 142%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding-top: 15px;
    
    color: #FFFFFF;
  }

  .header_statistic_user_name{
    margin-top: 25px;
    margin-left: 10%;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;



    color: #1A1A1A;
  }

  .header_statistic_before{
    margin-left: 40px;
  }

  .header_statistic_click{
    margin-top: 25px;
    margin-left: 10%;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;



    color: #1A1A1A;
  }

  .table{
    width: 90%;
    margin: auto;
    overflow-x:auto;

    table{
      height: 48px;
      margin-left: 5%;
      margin-top: 25px;
      font-size: 16px;
      line-height: 20px;
      border-collapse: collapse;
      border-spacing: 0;
      width: 90%;

      .table_header{
        height: 50px;
        background: #3A80BA;
        color: #FFFFFF;
        text-align: center; 
        .cell1{
          border-collapse:separate;
          border-top-left-radius: 10px;
        }
        .cell2{
          border-collapse:separate;
          border-top-right-radius: 10px;
        }
      }
    }
  }

  .pagination{
    overflow-x:auto;
    .pagination_elem{
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 10%;

      border-collapse: collapse;
      border-spacing: 0;
      width: 90%;
    }
  }

  .footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: minmax(100px, auto);
    margin: auto;
    text-align: center;

    background: #1C3B55;
    font-size: 16px;
    line-height: 142%;
    color: #FFFFFF;
    .footer_company{
      font-size: 24px;
      line-height: 29px;
    }
  }

    @media(min-width: 650px){
      .header{
        grid-template-columns: 2fr 1fr;
        .header-text-title{
          font-size: 32px;
          line-height: 142%;
        }
        .header-text-citat{
          font-size: 20px;
          line-height: 142%;
          padding-top: 15px;
        }
        .iphone{
          width: auto;
        }
      }
      .text{
        margin-top: 50px;
      }
    }

    @media(min-width: 800px){
      .header{
        grid-template-columns: 2fr 1fr;
        .header-text-title{
          font-size: 48px;
          line-height: 59px;
        }
        .header-text-citat{
          font-size: 28px;
          line-height: 142%;
        }
        .iphone{
          width: auto;
        }
      }
      .text{
        .text_area1{
          font-size: 32px;
        }

        .text_area2{
          padding-top: 20px;
          font-size: 24px;
        }
      }

      .box-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-columns: minmax(100px, auto);
        margin: auto;
      }

      .block2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: maimax(100px, auto);
        .block2_text1{
          padding-top: 50px;
        }
        .macBook{
          width: 100%;
          padding-left: 0;
          padding-top: 0;
          margin-top: -40px;
          margin-bottom: -4px;
        }
      }

    }
  }
}
/*body{
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  div {
    margin: 0;
    background: #FFFFFF;

    .header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: minmax(100px, auto);
      width: 100%;
      height: 100%;
      background: url('./static/img/fon.png');

      color: #FFFFFF;
      .header_text {
        display: grid;
        margin-left: 9.5%;
        padding-top: 3%;
        width: 586px;
        height: 118px;

        font-size: 48px;
        line-height: 59px;
          span {
            font-weight: bold;
          }
      }

      .textToHeaderCitat{
        display: grid;
        margin-left: 9.5%;
        padding-top: 1.2%;
        width: 580px;
        height: 56px;

        font-size: 20px;
        line-height: 142%;
      }

      .buttonToHeader{
        margin-left: 9.5%;
        margin-top: 2%;
        width: 154px;
        height: 56px;

        background: #FFFFFF;
        border-radius: 8px;

        .textForButton{
          font-size: 16px;
          line-height: 142%;
          text-align: center;
          color: #3A80BA;
        }
      }

      .iphone{
        position: absolute;
        left: 65.1%;
        right: 10%;
        top: 10%;
        max-width: 100%;

      }
    }
    .text{
      width: 100%;
      right: 0;
      .text_area1{
        margin: auto;
        width: 100%;
        height: 78px;
        top: 671px;
  
        font-size: 32px;
        line-height: 39px;
        text-align: center;
  
        color: #1A1A1A;
      }
  
      .text_area2{
        margin: auto;
        width: 100%;
        height: 56px;
        top: 773px;
  
        font-size: 20px;
        line-height: 142%;
  
        text-align: center;
  
        color: #7E7E7E;
      }
    }
        
    .container{
      margin-top: 25px;
      margin-bottom: 25px;
      .box{
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
        border-radius: 32px;
      
        width: 100%;
        height: 300px;
        margin: auto;
        text-align: center;
        
        .img-box{
          width: 106px;
          height: 96px; 
          padding-top: 15%;;

        }
    
        .card-name{
          width: auto;
          height: auto;
          padding-top: 15px;
    
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;

    
          color: #1A1A1A;
        }
    
        .card-text{
          width: auto;
          height: auto;
          padding: 15px;

    
          font-size: 16px;
          line-height: 142%;
    
          text-align: center;
    
          color: #7E7E7E;
        }
      }
    }
  }

  .block2{
    width: 100%;
    height: 393px;
    background: linear-gradient(93.19deg, #255D8B 2.29%, #3A80BA 96.79%);
    margin-top: 47px;
    color: #FFFFFF;
    .block2_text1{
      padding-left: 10%;
      padding-top: 65px;
      width: 100%;
      height: 20%;

      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
    }
    .block2_text2{
      padding-left: 10%;
      width: 580px;
      height: 69px;

      font-size: 16px;
      line-height: 142%;
      
    }
    .block2_button{
      width: 220px;
      height: 56px;
      margin-left: 10%;

      background: #FFFFFF;
      border-radius: 8px;
      span{
        font-size: 16px;
        line-height: 142%;

        text-align: center;

        color: #255D8C;
      }
    }
  }

  .mac{
    background: #3A80BA;
    width: 100%;
    height: 393px;
    margin-top: 47px;
    .macBook{
      width: 130%;
      margin-left: -30%;
      margin-top: -9%;
    }
  }

  .block3{
    margin: 0px;
    padding: 0px;

    .block3_text1{
      width: 580px;
      height: 78px;
      left: 430px;
      top: 1782px;

      font-size: 32px;
      line-height: 39px;

      color: #1A1A1A;
    }
    .block3_text2{
      width: 664px;
      height: 56px;
      left: 388px;
      top: 1884px;

      font-weight: normal;
      font-size: 20px;
      line-height: 142%;
      color: #7E7E7E;
    }

    .wawe2{
      position: absolute;
      right: 105px;
      width: 30%;
      height: 100%;
      margin-top: 25px;
      align-items: flex-end;

    }
    

    .blockPanel{
      p{
        margin-top: 40px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
      }

      hr{
        width: 250px;
        height: 0px;
        margin-bottom: 20px;
      }

      img{
        display:block;
        margin:auto;
      }

      .text{
        margin: auto;
        width: 222px;
        height: 182px;
        text-align: center;

        font-size: 16px;
        line-height: 162%;



        color: #7E7E7E;
      }

      button{
        width: 220px;
        height: 56px;
        background: #3A80BA;
        border-radius: 8px;
        font-size: 16px;
        line-height: 142%;


        text-align: center;

        color: #FFFFFF;
      }

      .price{
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;


        text-align: center;

        color: #1A1A1A;
      }

      .block_1{
        width: 380px;
        height: 627px;
        left: 130px;
        top: 1972px;
  
        border: 2px solid #F1F1F1;
        box-sizing: border-box;
        border-radius: 32px;
      }
  
      .block_2{
        width: 380px;
        height: 627px;
        left: 530px;
        top: 1972px;
  
        border: 2px solid #F1F1F1;
        box-sizing: border-box;
        border-radius: 32px;
        .price{
          color: #3A80BA;
        }
      }
  
      .block_3{
        width: 380px;
        height: 627px;
        left: 930px;
        top: 1972px;
  
        border: 2px solid #F1F1F1;
        box-sizing: border-box;
        border-radius: 32px;
      }
    }
  }

  .formContact{
    position: absolute;
    width: 664px;
    height: 28px;
    left: 388px;
    top: 2631px;

    font-size: 20px;
    line-height: 142%;


    text-align: center;
    color: #7E7E7E;
    b{
      color: #3A80BA;
    }
  }

  .sort{
    width: auto;
    height: auto;
    margin-left: 20px;
  }

  form {
    margin: 0 auto;
    position: absolute;
    width: 579px;
    height: 64px;
    left: 431px;
    top: 2733px;
  }
  input, button {
    border: none;
    outline: none;
    border-radius: 3px;
  }
  input {
    width: 100%;
    height: 68px;
    padding-left: 15px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 10px;

    font-size: 16px;
    line-height: 162%;


    align-items: center;

    color: #B9B9B9;
  }
  .buttonForm {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 176px;
    height: 56px;

    background: #3A80BA;
    border-radius: 8px;
    cursor: pointer;

    font-size: 16px;
    line-height: 142%;


    text-align: center;

    color: #FFFFFF;
  }

  .wawe3{
    position: absolute;
    width: 100%;
    height: 183.46px;
    left: 0px;
    top: 2710.46px;

  }

  .footerText1{
    width: 109px;
    height: 39px;
    left: 130px;
    top: 2821px;

    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;
  }

  .footerText2{
    width: 264px;
    height: 23px;
    left: 588px;
    top: 2829px;
    
    font-size: 16px;
    line-height: 142%;

    
    text-align: center;
    
    color: #FFFFFF;
  }

  .footerText3{
    width: 147px;
    height: 23px;
    left: 1163px;
    top: 2829px;
    
    font-size: 16px;
    line-height: 142%;

    
    text-align: center;
    
    color: #FFFFFF;
  }

  .table_row_data{
    text-align: center;

    font-size: 16px;
    line-height: 20px;



    color: #1A1A1A;
  }

  .header_statistic_user_name{
    margin-top: 25px;
    margin-left: 10%;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;



    color: #1A1A1A;
  }

  .header_statistic_before{
    margin-left: 40px;
  }

  .header_statistic_click{
    margin-top: 25px;
    margin-left: 10%;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;



    color: #1A1A1A;
  }

  .table{
    width: 90%;
    margin: auto;
    overflow-x:auto;

    table{
      height: 48px;
      margin-left: 5%;
      margin-top: 25px;
      font-size: 16px;
      line-height: 20px;
      border-collapse: collapse;
      border-spacing: 0;
      width: 90%;

      .table_header{
        height: 50px;
        background: #3A80BA;
        color: #FFFFFF;
        text-align: center; 
        .cell1{
          border-collapse:separate;
          border-top-left-radius: 10px;
        }
        .cell2{
          border-collapse:separate;
          border-top-right-radius: 10px;
        }
      }
    }
  }

  .pagination{
    overflow-x:auto;
    .pagination_elem{
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 10%;

      border-collapse: collapse;
      border-spacing: 0;
      width: 90%;
    }
  }

  .footer{
    width: 100%;
    height: 57px;
    margin-top: 25px;

    background: #1C3B55;
    font-size: 16px;
    line-height: 142%;
    display:table;

    color: #FFFFFF;
    .footer_company{
      text-align: center;
      width: 33.33333333333%;
      display:table-cell!important;
      vertical-align:middle;
      font-size: 24px;
      line-height: 29px;
    }
    span{
      width: 33.33333333333%;
      text-align: center;
      display:table-cell!important;
      vertical-align:middle;
    }
  }

  .text_company {
    width: 100%;
    height: 72px;

    
    background: #3A80BA;
    span{
      height: 49px;
      padding-left: 9.5%;

      font-size: 40px;
      line-height: 65px;



      color: #FFFFFF;
    }
  }
}*/


